.bottomBar {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 3;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #181818;
}
.bottomBar section,
.bottomBar .bottomBar-scroller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bottomBar-el {
  color: #b8b8b8;
  font-size: 13px;
  height: 21px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.bottomBar-el:hover {
  background-color: #303030;
  cursor: pointer;
}

.bottomBar-el, .bottomBar-scroller, .bottomBar section {
  margin: 0 5px;
}