.editor {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 80%;
  height: calc(90% - 18px);
  overflow: hidden;
  background-color: var(--bg-secondary);
}

.editor-empty {
  background-color: var(--bg-primary);
}

.editor-output {
  position: absolute;
  background-color: transparent;
  left: 50px;
  width: calc(100% - 50px);
  height: 100%;
  color: var(--text-primary);
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
}

.editor-select {
  cursor: text;
}

.line-numbers {
  float: left;
  position: relative;
  width: 50px;
  height: 100%;
  background-color: transparent;
  color: var(--text-tertiary);
  z-index: 3;
  overflow: hidden;
}

.line-el {
  position: absolute;
  font-size: 1em;
  left: 35%;
}

.editor-caret {
  display: block;
  background-color: var(--accent-caret);
  width: 2px;
  position: absolute;
  z-index: 2;
}

.insert-mode {
  width: 12px;
  height: 2px;
  margin-left: 11px;
}

.line-selected {
  color: var(--text-selected);
}

span {
  white-space: pre;
}

.selected {
  background-color: var(--selection-bg);
}

.selected-start {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.selected-end {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.selected-top-right {
  border-top-right-radius: 4px;
}

.selected-top-left {
  border-top-left-radius: 4px;
}

.selected-bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.selected-bottom-right {
  border-bottom-right-radius: 4px;
}

.selected-end-all {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.selected-all {
  border-radius: 4px;
}


.selected-afk {
  background-color: var(--selection-bg-afk);
}