body {
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.editor {
  position: absolute;
  bottom: 0;
  width: 60%;
}

.editor-output {
  background-color: #202020;

  width: 100%; 
  height: 94vh;
  white-space: nowrap;

  cursor: text;
  color: #b8b8b8;
}