.page-scroller {
    position: absolute;
    display: flex;
    background-color: var(--bg-primary);
    z-index: 4;
    overflow-x: hidden;
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
}

.page-scroller-body {
    background-color: var(--bg-secondary);
}

.page-scroller-inactive {
    display: none;
}

.page-scroller-vertical {
    right: 0;
    height: 100%;
    width: 15px;
}

.page-scroller-horizontal {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
}

.page-scroller-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--scroller-bg);
    transition: background 0.2s;
}

.page-scroller-item:hover {
    background: var(--scroller-bg-hover);
}